---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory:
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

{{- $additionalSectionsFile := printf "docs/additional_sections/%s.md" .Name }}
{{- if fileExists $additionalSectionsFile }}

{{ codefile "markdown" $additionalSectionsFile }}
{{- end }}

{{ if .HasExample -}}
## Example Usage

{{ codefile "shell" .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
