---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory:
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

{{- if eq .Name "rootly_alert_route" }}

*Note: This data source requires access to Advanced Alert Routing. If you're unsure whether you have access to this feature, please contact Rootly customer support.*
{{- end }}

{{- if eq .Name "rootly_alert_routing_rule" }}

*Note: If you are an advanced alert routing user, you should use the Alert Routes data source instead of this one. If you don't know whether you are an advanced alert routing user, please contact Rootly customer support.*
{{- end }}

{{ if .HasExample -}}
## Example Usage

{{ codefile "shell" .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
