# Rootly Provider

[Rootly](https://rootly.com) is the all-in-one AI-native platform for on-call and incident management, including status pages—built for fast-moving engineering teams to detect, manage, learn from, and resolve incidents faster.

{{ .SchemaMarkdown | trimspace }}

## Example Usage

### Provider

{{tffile "examples/provider/provider.tf"}}

Data sources

{{tffile "examples/workflows/data_sources.tf"}}

### Workflows

{{tffile "examples/workflows/workflows.tf"}}

### Dashboards

{{tffile "examples/workflows/dashboards.tf"}}

### On-Call

{{tffile "examples/on_call/on_call.tf"}}
