# Rootly Provider

The [Rootly](https://rootly.com/) provider is used to interact with the resources supported by Rootly. The provider needs to be configured with the proper credentials before it can be used. It requires terraform 0.14 or later.

{{ .SchemaMarkdown | trimspace }}

## Example Usage

Provider

{{tffile "examples/provider/provider.tf"}}

Data sources

{{tffile "examples/provider/data_sources.tf"}}

Custom Fields

{{tffile "examples/provider/custom_fields.tf"}}

Workflows

{{tffile "examples/provider/workflows.tf"}}

Dashboards

{{tffile "examples/provider/dashboards.tf"}}

## Development

`make build` auto-generates code from Swagger, compiles provider, and regenerates docs.

Exclude API resources from the provider by adding them to the excluded list in `tools/generate.js`.
