---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory:
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ codefile "shell" .ExampleFile }}
{{- end }}

## Import

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import) to import {{.Name}} using the `id`. For example:

```terraform
import {
  to = {{.Name}}.primary
  id = "00000000-0000-0000-0000-000000000000"
}
```

Using `terraform import`, import {{.Name}} using the `id`. For example:

```console
% terraform import {{.Type}}.{{.Name}} 00000000-0000-0000-0000-000000000000
```

Locate the resource id in the web app, or retrieve it by listing resources through the API if it's not visible in the web app.

{{ .SchemaMarkdown | trimspace }}
